.vscode/settings.json
node_modules/
*.pyc
venv/
__pycache__/
myenv/
Basic_authentication/docker-compose.yml
Session_authentication/docker-compose.yml
__MACOSX/
Basic_authentication/
user_authentication_service/a.db
user_authentication_service/delete_test.py
Unittests_and_integration_tests/myenv/lib/python3.10/site-packages/astroid-2.15.8.dist-info/CONTRIBUTORS.txt
i18n/babel.cfg
i18n/requirements.txt
i18n/babel.cfg
NoSQL/dump.zip
NoSQL/docker-compose.yml
NoSQL/run_task.sh
NoSQL/dump/logs/nginx.bson
NoSQL/dump/logs/nginx.metadata.json
Node_JS_basic/node_modules/.bin/babel-external-helpers
